html, body, .content {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}