<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <style>
      html,
      body,
      .content {
        margin: 0;
        height: 100%;
        width: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
      }

      .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="w3-container w3-padding w3-red header">
      <h1>TFE Assignment 7</h1>
    </div>
    <div class="w3-container content">
      {% block body %}
      <h1>Flask + SQLAlchemy for student marks</h1>
      {% endblock %}
    </div>
  </body>
</html>
