{% extends 'base.html' %} {% block body %}
<div class="w3-container w3-padding w30margin" style="width: 100%">
  <a
    class="
      w3-btn
      w3-round-large
      w3-border
      w3-border-red
      w3-hover-red
      w3-left
      w3-margin
    "
    href="/students"
  >
    Back
  </a>
  <button
    class="
      w3-btn
      w3-round-large
      w3-border
      w3-border-red
      w3-hover-red
      w3-right
      w3-margin
    "
    onclick="document.getElementById('addstudent').style.display='block'"
  >
    Update Marks
  </button>
</div>
<table class="w3-table-all w3-centered w3-hoverable">
  <tr class="w3-red w3-text-white">
    <th>OOP</th>
    <th>DS</th>
    <th>DBMS</th>
  </tr>
  <tr>
    <td>{{ marks.oop if marks.oop else "-" }}</td>
    <td>{{ marks.ds if marks.ds else "-" }}</td>
    <td>{{ marks.dbms if marks.dbms else "-" }}</td>
  </tr>
</table>
<div id="addstudent" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <header class="w3-container w3-red w3-center">
      <span
        onclick="document.getElementById('addstudent').style.display='none'"
        class="w3-button w3-display-topright"
        >&times;</span
      >
      <h2>Update Marks</h2>
    </header>
    <div class="w3-container w3-padding">
      <form action="/marks" method="post">
        <input name="id" value="{{ id }}" hidden />
        <div>
          <label for="addstudent-name">OOP</label>
          <input
            class="w3-input"
            id="addstudent-name"
            name="oop"
            type="number"
            value="{{ marks.oop }}"
          />
        </div>
        <div>
          <label for="addstudent-email">DS</label>
          <input
            class="w3-input"
            id="addstudent-email"
            name="ds"
            type="number"
            value="{{ marks.ds }}"
          />
        </div>
        <div>
          <label for="addstudent-email">DBMS</label>
          <input
            class="w3-input"
            id="addstudent-email"
            name="dbms"
            type="number"
            value="{{ marks.dbms }}"
          />
        </div>
        <button type="submit" class="w3-button w3-round w3-red">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
