{% extends "base.html" %}

{% block body %}
    <table class="w3-table-all w3-centered w3-hoverable">
        <tr class="w3-blue w3-text-white">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phyiscs</th>
            <th>Chemistry</th>
            <th>Maths</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.id|safe }}</td>
                <td>{{ student.name|safe }}</td>
                <td>{{ student.email|safe }}</td>
                <td>{{ student.marks.physics|safe if student.marks else "-" }}</td>
                <td>{{ student.marks.chemistry|safe if student.marks else "-" }}</td>
                <td>{{ student.marks.maths|safe if student.marks else "-" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}